
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  font-variation-settings:
    "slnt" 0;
}


.poppins-thin {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.poppins-extralight {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.poppins {
  font-family: "Poppins", sans-serif;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-extrabold {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.poppins-black {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: normal;
}

span{
  color: #6c06f2;
}

#buttons1 > button, a{
  box-sizing: border-box;
  border-radius: 10px;
  padding: 0.1rem 1.2rem;
  font-weight: bold;
  font-size: 14px;

}



.hoverImg{
  margin-bottom: 2rem;
  transition: all 0.15s ease-in-out;
}

.hover{
  transition: all 0.15s ease-in-out;
}
.hoverImg:hover , .hover:hover{
  transform: scale(1.02);
}



.hams{
  width: 24px;
  height: 24px;
  padding: auto;
  position: relative;
  transition: all 0.25s;
  cursor: pointer;
  display: block;
}
.ham-top,
.ham-mid,
.ham-bottom{
  position: absolute;
  background-color: #000;
  width: 24px;
  height: 2px;
  transition: all 0.3s;
  cursor: pointer;
  
}
.ham-mid{
  margin-top: 7px;
  transition: all 0.4s ease;
  transform: scale(1) rotate(0deg);

}
.ham-bottom{
  margin-top: 14px;
}



.ham-top1{
  transform: rotate(45deg) translate(7px, 7px);
}
.ham-bottom1{
  transform: rotate(-45deg) translate(3px, -3px);

}
.hidden{
  transform: scale(0) rotate(45deg) translateX(2px) translateY(2px);
}


@media only screen and (max-width: 767px) {
  
  
  .pullDown{
    transform: translateY(1.5rem);
  }
  .nav{
  transition: all 0.3s ease-in ;
  
}

.pushUp{
  
  transform: translateY(-23rem);
}

.chatUp{
  transform: translateY(-23rem);
  
}

.chatDown{
  transform: translateY(14.5rem);
}

}